@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700;800;900&display=swap");
h1 {
  font-family: "Shrikhand";
}

h2,
h3,
p {
  font-family: "Roboto";
}

body {
  margin: 0;
}

header {
  text-align: center;
  padding: 1.5em 0 0.5em 0;
}
header img {
  height: 1.5em;
}
header a {
  text-decoration: none;
  color: black;
  position: absolute;
  left: 1em;
  font-size: 1.25em;
}

footer {
  background-color: #353535;
  padding-bottom: 1em;
}
footer img {
  height: 1em;
  filter: invert(1);
  -webkit-filter: invert(1);
  margin-left: 1em;
  padding-top: 1em;
}
footer ul {
  padding-left: 1em;
  list-style-type: none;
}
footer li {
  margin-bottom: 0.5em;
}
footer a {
  color: white;
  text-decoration: none;
}
footer a:hover {
  text-decoration: underline;
}
footer .fa-utensils {
  margin-right: 12px;
}
footer .fa-hands-helping {
  margin-right: 5px;
}

.menu {
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  border: 1px solid transparent;
  background-color: #f6f6f6;
  margin-top: -1em;
  position: relative;
  z-index: 1;
  padding-bottom: 4em;
}
.menu > div {
  margin-left: 1em;
  margin-right: 1em;
}
.menu > .menu__restaurantName {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.research {
  background-color: #f6f6f6;
  padding-bottom: 2em;
}
.research form {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1em;
  padding-bottom: 1em;
  background-color: #eaeaea;
  box-shadow: inset 0 2px rgba(0, 0, 0, 0.2);
}
.research form input {
  background-color: #eaeaea;
  border: none;
  width: 100px;
}
.research form i {
  margin-right: 0.5em;
}
.research h2 {
  text-align: center;
}
.research p {
  text-align: center;
  margin: 1em;
}

.fonctionnementMenu {
  padding-left: 1em;
  padding-right: 1em;
  margin-bottom: 4em;
}

.restaurantSection {
  background-color: #f6f6f6;
  padding-bottom: 2em;
}
.restaurantSection h2 {
  margin-left: 1rem;
  padding-top: 2em;
}

.submitButton {
  display: flex;
  justify-content: center;
  margin: auto;
  width: 60%;
  color: white;
  border-radius: 2em;
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  -ms-border-radius: 2em;
  -o-border-radius: 2em;
  padding: 1em;
  background: linear-gradient(175deg, #ff79da, #9356dc);
  border: transparent;
  cursor: pointer;
  z-index: 1;
  position: relative;
}
.submitButton:hover::after {
  opacity: 1;
}
.submitButton::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 2em;
  background: linear-gradient(175deg, #ff93e1, #a16be0);
  opacity: 0;
  z-index: -1;
  transition: opacity 400ms ease-in-out;
  -webkit-transition: opacity 400ms ease-in-out;
  -moz-transition: opacity 400ms ease-in-out;
  -ms-transition: opacity 400ms ease-in-out;
  -o-transition: opacity 400ms ease-in-out;
}
.submitButton--command {
  width: 50%;
}

.fonctionnementButton {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: #f6f6f6;
  border: transparent;
  border-radius: 1em;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  -ms-border-radius: 1em;
  -o-border-radius: 1em;
  font-size: 1em;
  margin-bottom: 1em;
  padding: 1em 0 1em 0;
  cursor: pointer;
  z-index: 1;
  position: relative;
}
.fonctionnementButton:hover i {
  color: #9356dc;
}
.fonctionnementButton:hover::after {
  opacity: 1;
}
.fonctionnementButton::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 1em;
  z-index: -1;
  opacity: 0;
  background-color: #f5edff;
  transition: opacity 400ms ease-in-out;
  -webkit-transition: opacity 400ms ease-in-out;
  -moz-transition: opacity 400ms ease-in-out;
  -ms-transition: opacity 400ms ease-in-out;
  -o-transition: opacity 400ms ease-in-out;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  -ms-border-radius: 1em;
  -o-border-radius: 1em;
}
.fonctionnementButton > .fonctionnementButton__menuNum {
  position: relative;
  font-size: 0.75em;
  height: 1.5em;
  width: 1.5em;
  border-radius: 50%;
  right: 0.5em;
  color: white;
  background-color: #9356dc;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fonctionnementButton > i {
  font-size: 1.25rem;
  position: relative;
  margin-left: 1em;
  margin-right: 2em;
  width: 20px;
  transition: 400ms ease-in-out;
  -webkit-transition: 400ms ease-in-out;
  -moz-transition: 400ms ease-in-out;
  -ms-transition: 400ms ease-in-out;
  -o-transition: 400ms ease-in-out;
}

.cardContainer {
  margin-left: 1em;
  margin-right: 1em;
}
.cardContainer__card {
  width: 100%;
  border-radius: 1em;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  -ms-border-radius: 1em;
  -o-border-radius: 1em;
  margin-bottom: 1em;
  background-color: white;
  box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.2);
  transform: scale(1);
  transition: transform 300ms ease-in-out;
}
.cardContainer__card:hover {
  transform: scale(1.03);
}
.cardContainer__card h3 {
  margin-bottom: 0.5em;
}
.cardContainer__card .card__title {
  margin-left: 0.5em;
  margin-right: 0.5em;
}
.cardContainer__card .card__title__description {
  display: flex;
  justify-content: space-between;
}
.cardContainer__card p {
  margin-top: 0;
  width: 70%;
}
.cardContainer__card i {
  font-size: 1.5em;
}
.cardContainer img {
  width: 100%;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  object-fit: cover;
  height: 180px;
}

.mealContainer .mealContainer__card {
  width: 100%;
  height: 5em;
  background-color: white;
  border-radius: 1em;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  -ms-border-radius: 1em;
  -o-border-radius: 1em;
  box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  overflow: hidden;
  margin-bottom: 1em;
}
.mealContainer .mealContainer__card:hover .text__price {
  transform: translateX(-60px);
  -webkit-transform: translateX(-60px);
  -moz-transform: translateX(-60px);
  -ms-transform: translateX(-60px);
  -o-transform: translateX(-60px);
}
.mealContainer .mealContainer__card:hover i {
  transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  width: 60px;
}
.mealContainer .mealContainer__card:hover .card__checkbox {
  transform: translateX(-60px);
  -webkit-transform: translateX(-60px);
  -moz-transform: translateX(-60px);
  -ms-transform: translateX(-60px);
  -o-transform: translateX(-60px);
}
.mealContainer .mealContainer__card:hover .text__name {
  width: 60%;
}
.mealContainer .card__text {
  display: flex;
  width: 100%;
  align-items: flex-end;
  justify-content: space-between;
  flex-shrink: 0;
}
.mealContainer .card__text .text__price {
  margin: 0 1.5em 0 0;
  transition: all 400ms ease-in-out;
  -webkit-transition: all 400ms ease-in-out;
  -moz-transition: all 400ms ease-in-out;
  -ms-transition: all 400ms ease-in-out;
  -o-transition: all 400ms ease-in-out;
}
.mealContainer .card__text .text__name {
  width: 75%;
  margin-left: 0.5em;
}
.mealContainer h3 {
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.mealContainer p {
  margin: 0.5em 0 0 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.mealContainer .card__checkbox {
  height: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #99e2d0;
  border-top-right-radius: 1em;
  border-bottom-right-radius: 1em;
  transition: all 400ms ease-in-out;
}
.mealContainer .card__checkbox i {
  color: white;
  background-color: #99e2d0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  transform: rotate(0deg);
  transition: all 500ms ease-in-out;
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -ms-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
}

figure {
  margin: 0;
}
figure img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.heart {
  position: relative;
  bottom: 1.5em;
  left: 1em;
}
.heart .fas {
  position: relative;
  right: 1.13em;
  background: linear-gradient(90deg, #ff79da, #9356dc);
  background-clip: border-box;
  opacity: 0;
  transform: scale(0);
  transform-origin: 50% 100%;
  transition: all 400ms ease-in-out;
  color: transparent;
  background-clip: text;
}
.heart:hover .fas {
  opacity: 1;
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
}
.heart:hover .far {
  color: transparent;
}
.heart--restaurant {
  position: relative;
  top: 0.1em;
}
.heart--restaurant > i {
  font-size: 1.5em;
}

/*# sourceMappingURL=style.css.map */
