.submitButton {
  display: flex;
  justify-content: center;
  margin: auto;
  width: 60%;
  color: white;
  border-radius: 2em;
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  -ms-border-radius: 2em;
  -o-border-radius: 2em;
  padding: 1em;
  background: linear-gradient(175deg, $colour-secondary, $colour-primary);
  border: transparent;
  cursor: pointer;
  z-index: 1;
  position: relative;
  &:hover {
    &::after {
      opacity: 1;
    }
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 2em;
    background: linear-gradient(
      175deg,
      lighten($colour-secondary, 5),
      lighten($colour-primary, 5)
    );
    opacity: 0;
    z-index: -1;
    transition: opacity 400ms ease-in-out;
    -webkit-transition: opacity 400ms ease-in-out;
    -moz-transition: opacity 400ms ease-in-out;
    -ms-transition: opacity 400ms ease-in-out;
    -o-transition: opacity 400ms ease-in-out;
  }
  &--command {
    width: 50%;
  }
}

.fonctionnementButton {
  display: flex;
  align-items: center;
  width: 100%;
  @include bg-colour(#f6f6f6);
  border: transparent;
  border-radius: 1em;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  -ms-border-radius: 1em;
  -o-border-radius: 1em;
  font-size: 1em;
  margin-bottom: 1em;
  padding: 1em 0 1em 0;
  cursor: pointer;
  z-index: 1;
  position: relative;
  &:hover {
    i {
      color: $colour-primary;
    }
    &::after {
      opacity: 1;
    }
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 2em;
    z-index: -1;
    opacity: 0;
    background-color: #f5edff;
    transition: opacity 400ms ease-in-out;
    -webkit-transition: opacity 400ms ease-in-out;
    -moz-transition: opacity 400ms ease-in-out;
    -ms-transition: opacity 400ms ease-in-out;
    -o-transition: opacity 400ms ease-in-out;
  }

  > .fonctionnementButton__menuNum {
    position: relative;
    font-size: 0.75em;
    height: 1.5em;
    width: 1.5em;
    border-radius: 50%;
    right: 0.5em;
    color: white;
    @include bg-colour($colour-primary);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  > i {
    font-size: 1.25rem;
    position: relative;
    margin-left: 1em;
    margin-right: 2em;
    width: 20px;
    transition: 400ms ease-in-out;
    -webkit-transition: 400ms ease-in-out;
    -moz-transition: 400ms ease-in-out;
    -ms-transition: 400ms ease-in-out;
    -o-transition: 400ms ease-in-out;
  }
}
