.loader {
  position: fixed;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: $colour-primary;
  animation: bgc 3000ms ease-in-out;
  opacity: 0;
  z-index: -1;

  > .loader__span {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3em;

    span {
      animation: wave 1000ms ease-in-out infinite;
      @include delay(0.1s);
    }
  }
}

.research {
  @include bg-colour(#f6f6f6);
  padding-bottom: 2em;

  form {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1em;
    padding-bottom: 1em;
    @include bg-colour(#eaeaea);
    box-shadow: inset 0 2px rgba(0, 0, 0, 0.2);

    input {
      @include bg-colour(#eaeaea);
      border: none;
      width: 100px;
    }

    i {
      margin-right: 0.5em;
    }
  }

  h2 {
    text-align: center;
  }

  p {
    text-align: center;
    margin: 1em;
  }
}

.fonctionnementMenu {
  padding-left: 1em;
  padding-right: 1em;
  margin-bottom: 4em;

  @include media-minwidth("desktop") {
    margin-bottom: 2em;
  }

  h2 {
    @include media-minwidth("desktop") {
      text-align: center;
    }
  }
}

.fonctionnementMenu__buttons {
  @include media-minwidth("desktop") {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}

.restaurantSection {
  @include bg-colour(#f6f6f6);
  h2 {
    margin-left: 1rem;
    padding-top: 2em;

    @include media-minwidth("desktop") {
      text-align: center;
    }
  }
  padding-bottom: 2em;
}
